<!DOCTYPE html>
<html>
  <head>
    <title>
      UpForGrabs
    </title>
    <script src="/static/jquery.js" type = "text/javascript"></script>
    <script src="/static/api.js" type="text/javascript"></script>
    <script src="/static/claimed.js" type="text/javascript"></script>
    <script src="/static/bootstrap/js/bootstrap.min.js" type="text/javascript"></script>
    <link rel="stylesheet" href="/static/bootstrap/css/bootstrap.min.css" />
    <link rel="stylesheet" href="/static/claimed.css" />
  </head>
  <body>
    <!-- 
      the cross-site request forgery token to be used in POST requests
      Example:
      <input type='hidden' name='csrfmiddlewaretoken' value='TOKEN_IS_HERE' />
    -->
    {% csrf_token %}
    <nav class="navbar navbar-default">
      <div class="container-fluid">
        <div class="navbar-header">
          <a class="navbar-brand" href="#">
            <img src="/static/logo.png" height="30px"/>
          </a>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
          <ul class="nav navbar-nav">
            <li><a class="nav-link" href="#" id="sf_link">SF Office</a></li>
            <li><a class="nav-link" href="#" id="pa_link">PA Office</a></li>
          </ul>
        </div><!--/.nav-collapse -->
      </div><!--/.container-fluid -->
    </nav>

    <div class="container" width="70%">
 
      <h2>Orders Up for Grabs</h2>

      <table class="table table-striped" id="order_table">
        <thead>
          <th>Restaurant</th>
          <th>Food</th>
          <th>Action</th>
        </thead>
        <tbody id="order_table_body">
        </tbody>
      </table>
    </div>
 
  </body>
</html>
